$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* Old palette
$page2:#B4FF21;
$page3:#FFD721;
$page4:#FF6721;
$page5:#FF2421;
$page6:#2186FF;
$txt:#0E1714;*/

/* Where, Oh, Where? http://www.colourlovers.com/palette/168661/Where,_Oh,_Where */
$page2:#EDF393;
$page3:#F5E665;
$page4:#FFC472;
$page5:#FFA891;
$page6:#89BABE;
$page7:#FFFFFF;
$txt:#3C2116;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);

html {
    overflow: auto;
    overflow-y: scroll;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    line-height: 1;
    font-family: 'Sintony', sans-serif;

    section {
        display: block;

        &.pages {
            box-sizing: border-box;
            position: relative;
            padding: 4em 10em 10em 10em;
            min-height: 100%;

            p {
                margin: 30px 0px;
            }
img{
width: 100%;
}
            .pages-text {
                line-height: 1.1em;
                font-size: 1.6em;
                font-weight: bold;
                max-width: 1200px;
                margin: auto;

                p {
                  max-width: 28em;
                }
            }

            .quotes {
                float: right;
                font-size: .9em;
                font-weight: normal;
                text-align: right;
                line-height: 1em;

                .source {
                    display: block;
                    margin-top: 1em;
                    font-size: .8em;

                    a {
                        color: #000;
                        &:hover { 
                            color: #000;
                            text-decoration: underline;
                        }
                        &:visited { color: #000; }
                    }
                }
                .source:before {
                    content: "―"; /* U2015 */
                }
            }
            .quotes:before {
                content: "❝"; /* U275D */
                font-size: 2em;
            }


        }
    }  

    @media (max-width: 640px) {
        section.pages {
            padding: 2em;
        }
    }

    #page-1 {
        h1 {
            line-height: 1em;
            font-size: 4em;
        }
        .pages-text {
            left: 14em;
            font-weight: bold;
            ul {
                list-style: none;
                margin-left: 26em;
                font-size: 1.2em;
                li {
                    line-height: 1.0em;
                    margin-bottom: .2em;
                }
            }
        }
    }
    @media (max-width: 1048px) {
        #page-1 {
            h1 {
                font-size: 2em;
            }
            .pages-text {
                ul {
                    margin-left: 1em;
                }
            }
        }
    }
    @media (max-width: 640px) {
        #page-1 {
            line-height: 1.2em !important;
            h1 {
                font-size: 2em;
            }
            .pages-text ul {
                margin-left: 1em;
            }
        }
    }

    .pages {
        color: $txt;
        word-spacing: .1em;
    }
    #page-1 { background-color: #000000; color: #ffffff; word-spacing: 0em; }
    #page-2 { background-color: $page2; }
    #page-3 { background-color: $page3; }
    #page-4 { background-color: $page4; }
    #page-5 { background-color: $page5; }
    #page-6 { background-color: $page6; }
    #page-7 { background-color: $page7; color: #000000; text-align: center; font-size: 2em; }
}

